* {
  padding: 0;
  margin: 0;
  cursor: url("img/cursor.png"), auto;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ebebe8;
}

.navbar {
  list-style-type: none;
  width: 30%;
  display: flex;
  position: fixed;
  margin-top: 2%;
  margin-left: 64%;
  font-family: HK Grotesk;
}

.center{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li {
  font-size: 1.25rem;
}

li a{
  all: unset;
}

li:hover {
  color: rgb(44, 44, 228);
  transform: rotate(5deg);
  transition-duration: 0.25s;
}
.icon {
  width: 4rem;
  height: 4rem;
  position: absolute;
  mix-blend-mode: multiply;
  z-index: 2;
}

.atalhos {
  height: 4rem;
  width: 4rem;
}

.atalhos:hover {
  width: 5rem;
  height: 5rem;
  transition-duration: 0.25s;
}

.title {
  margin-left: 2%;
  top: 22%;
  width: 70%;
  position: fixed;
  color: rgb(44, 44, 228);
  transition-duration: 0.25s;
}

h1 {
  font-family: JeanLuc;
  font-size: 12rem;
  line-height: 75%;
}

#local {
  font-family: HK Grotesk;
  font-weight: medium;
  font-size: 1.25rem;
  padding-top: 1rem;
}

.grelha {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: JeanLuc;
  margin-left: 1%;
  margin-right: 37%;
}

ul {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  font-size: 7rem;
  color: rgb(44, 43, 43);
  mix-blend-mode: multiply;
}

ul:hover {
  opacity: 1;
  padding-left: 1%;
  font-size: 8rem;

  transition-duration: 0.25s;
}

ul:nth-child(1) {
  top: 0%;
}

ul:nth-child(2) {
  top: 20%;
  color: #dc3d2c;
}
ul:nth-child(3) {
  top: 40%;
  color: #dc3d2c;
}
ul:nth-child(4) {
  top: 60%;
}
ul:nth-child(5) {
  top: 80%;
}

#gosto:after {
  content: "";
  animation: gosto 5s linear infinite;
}

@keyframes gosto {
  0% {
    content: "ARTE";
  }
  10% {
    content: "HISTÓRIA";
  }
  20% {
    content: "POLÍTICA";
  }
  30% {
    content: "COPOS";
  }
  40% {
    content: "FAST FOOD";
  }
  50% {
    content: "CINEMA";
  }
  60% {
    content: "AMIGOS";
  }
  70% {
    content: "CHUVA";
  }
  80% {
    content: "FILSOFIA";
  }
  90% {
    content: "LITERATURA";
  }
  100% {
    content: "ARTE";
  }
}

.foto {
  position: fixed;
  top: 45%;
  left: 60%;
  width: 35%;
}

.foto img {
  position: absolute;
  width: 100%;
  height: auto;
  transform: rotate(3deg);
}

.foto .photo-02 {
  display: none;
}

.foto:hover .photo-02 {
  display: block;
  width: 120%;
  transition-duration: 0.25s;
}

.foto:hover img {
  width: 120%;
  transform: rotate(10deg);
  transition-duration: 0.25s;
}

#info{
position: fixed;
display: none;
width: 32%;
height: 40%;
left: 62%;
top: 10%;
transform: rotate(-3deg);
background-color: #f5f5f4;
mix-blend-mode:multiply;
}

#info p{
  font-size: 14px;
  font-family: HK Grotesk;
  font-weight:lighter;
  line-height: 150%;
  padding: 3%;
}

#info span{
  color: rgb(44, 44, 228);
}

button{
  all: unset;
}

#quote{
  position: fixed;
  top: 60%;
  left: 30%;
  width: 25%;
  z-index: -2;

}

#quote img {
  position: absolute;
  width: 100%;
  transform: rotate(15deg);
  height: auto;
}
