* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ebebe8;
}

.icon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 2;
  }
  
  
  img {
    height: 4rem;
    width: 4rem;
  }
  
  img:hover{
    width: 4.5rem;
    height: 4.5rem;
    transition-duration: 0.25s;
  }
  

.title {
  margin-left: 2%;
  top: 22%;
  width: 70%;
  position: fixed;
  color: rgb(44, 44, 228);
}

h1 {
  font-family: JeanLuc;
  font-size: 12rem;
  line-height: 75%;
}

#local {
  font-family: HK Grotesk;
  font-weight: medium;
  font-size: 2rem;
  padding-top: 1rem;
}

.grelha {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: JeanLuc;
  margin-left: 1%;
}

ul {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  font-size: 8rem;
  color: rgb(44, 43, 43);
  mix-blend-mode: multiply;
}

ul:hover {
  opacity: 1;
  padding-left: 1%;
  transition-duration: 0.25s;
}

ul:nth-child(1) {
  top: 0%;
}

ul:nth-child(2) {
  top: 20%;
}
ul:nth-child(3) {
  top: 40%;
}
ul:nth-child(4) {
  top: 60%;
}
ul:nth-child(5) {
  top: 80%;
}

#gosto:after {
  content: "";
  animation: gosto 5s linear infinite;
}

@keyframes gosto {
  0% {
    content: "ARTE";
  }
  10% {
    content: "HISTÓRIA";
  }
  20% {
    content: "POLÍTICA";
  }
  30% {
    content: "COPOS";
  }
  40% {
    content: "FAST FOOD";
  }
  50% {
    content: "CINEMA";
  }
  60% {
    content: "AMIGOS";
  }
  70% {
    content: "CHUVA";
  }
  80% {
    content: "FILSOFIA";
  }
  90% {
    content: "LITERATURA";
  }
  100% {
    content: "ARTE";
  }
}
